body{
  font-family: sans-serif;
  margin: 0;
  background-color: #2e9e15;
  color: white;
}
header{
    background-color: #0c5204;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000000;
}
/*Зроби цей сайт красивим 😉*/
.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-link{
    text-decoration: none;
    color: white;
    background-color: #bbdeb1;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #4bc429;
    transition: 0.3s;
}
.nav-link:hover{
    background-color: #86e66c;
    border: 2px solid #52694b;
    box-shadow: 2px 2px 8px #37ff00;
}
.hero{
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.2)), url("minecraft.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.hero-title{
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px black;
}
p{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    background-color: #098200;
    color: white;
    padding: 30px;
    width: 300px;
    text-decoration: none;
    border: 4px solid white;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: all  0.3s;
}
.btn:hover{
    background-color: #0d5408;
    border: 4px solid black;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 280px;
    background-color: #022603;
    padding: 20px;
    border: 3px  solid #187817;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 5px 8px #0ed10a;
}
.card-img{
    height: 200px;
}
h3{
    color: Lime;
    font-size: 24px;
}
footer{
    background-color: #052402;
    border-top: 4px solid #0a5408;
    margin-top: 40px;
}
.footer-text{
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.card:hover{
    border: 3px solid #27f00c;
    width: 320px;
}
.card-title{
    width: 580px;
    background-color: #20c70a;
    padding: 20px;
    border: 3px  solid #2fbd1c;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 5px 8px #60e04f;
}
.card-title:hover{
    border: 3px solid #27f00c;
}
h2{
    background-color: #116606;
    padding: 10px;
    text-align: center;
    border: 3px solid #85eb78;
}
